<!--Landing Page -->
<template name="landingPage">
    <div class="landpage-box">
        <div class="row landpage-box-left">
            <div class="col-xs-6 col-md-12">
                <div class="thumbnail">
                    <img src="/stock.png" alt="...">
                    <div class="caption">
                        <h3>Stock Analysis and Predictions</h3>
                        <p align="center"><a href="#" class="btn btn-primary to_analytic" role="button">Do Some Analytics !</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row landpage-box-right">
            <div class="col-sm-6 col-md-12">
                <div class="thumbnail">
                    <img src="/portfolio.png" alt="...">
                    <div class="caption">
                        <h3>Stock Portfolio Management</h3>
                        <p align="center"><a href="#" class="btn btn-primary to_portfolio" role="button">Do Some Portfolio Stuffs!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
